/* Note to students: Some properties are given to you to fill out,
others you can modify as they stand, and if you have time,
there are definitely some properties you should add!*/

    html {
      height: 100%;
    }
    body {
       width: 800px;
       height: 100%;
       background: url(http://az616578.vo.msecnd.net/files/2016/07/01/636029880485120279-651466387_4240713-money.jpg);
       background-size: cover;
    }

    header {
        background-color: #ffcc99;
        padding: 10px;
        font-family: fantasy;
        display: block;
        text-align: center;
        align-self: center;
        width: auto;
    }
    nav {
        float: left;
        background-color: #f63636;
        width: inherit;
    }
    nav ul {
        width: inherit;
        float: inherit;
        list-style-type: none;
        : center;;
    }
    nav li {
        float: left;
        margin: 5px;
        padding: 5px;
    }
    img{
      width: 500px;
      height: auto;
    }
    a {
        color: ;
    }
    iframe{
      width: 580px;
      height: 350px;
    }
    form{
      float: left;
      background-color: orange;
    }
    section {
        width: 73%;
        display: inline-block;
        float: left;
        background-color: orange;
    }
    aside {
        width: 17%;
        display: inline-block;
        background-color:;
        padding:;
        min-height: 100%;
    }
    aside ul {
        list-style-type: none;
    }
    footer {
        width: 790px;
        background-color:;
        color:;
        clear: both;
        display: block;
    }
