
    html {
      height: 100%;
    }
    body {
      background:url(us-dollars.jpg);
       width: 800px;
       height: 100%;
       background-size: cover;
    }
    header {
      animation:pulse 5s infinite;

        padding: 15px;
        border:30px solid black;
        font-size:30;
        display: block;
      }
    @keyframes pulse{
    0%{
      background-color:#001F3F;
    }
      100%{
        background-color:#FF4136;
      }
    nav {
        float: left;
    }
    nav ul {
        padding: ;
        float: left;
        border-bottom: ;
        list-style-type: none;
    }
    nav li {
        float: left;
    }
    nav li a {
        display: block;
        height: 25px;
        padding: 12px 18px 8px 18px;
        vertical-align: middle;
    }
    a {
        color: ;
    }
    section {
        width: 73%;
        display: inline-block;
        float: left;
    }
    aside {
        width: 17%;
        display: inline-block;
        background-color:;
        padding:;
        min-height: 100%;
    }
    aside ul {
        list-style-type: none;
    }
    footer {
        width: 790px;
        background-color:;
        color:;
        clear: both;
        display: block;
    }
